/*reset css 重置样式*/
*,
::before,
::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
/*common css 公用样式*/